<div style="width:360px; margin-left:auto; margin-right:auto">

  <p align="center"><img src="<%=url('img/goldread-logo.jpg') %>" /></p>

  <p align="center"><a href="http://twitter.com/goldreadchina">Twitter</a> | <a href="http://weibo.com/goldreadchina">Sina Weibo</a></p>

  <p align="center">contact@goldread.net</p>

</div>