<form class="form-search" method="post" action="<%= url("/asin") %>">
  ASIN: <input type="text" name="asin" class="input-medium search-query">
  <button type="submit" class="btn" name="action" value="add">Add</button>
  <button type="submit" class="btn" name="action" value="search">Search</button>
</form>

<%= item_filter_menu(current_filter) %>

<%= erb :item_list %>

<%= will_paginate items, renderer: BootstrapPagination::Sinatra unless current_filter == :all %>
